{{ define "New" }}
  {{ template "Header" }}
    {{ template "Menu" }} 
   <h2>New Name and City</h2>  
    <form method="POST" action="insert">
      <label> Name </label><input type="text" name="Name" /><br />
      <label> Owner </label><input type="text" name="Owner" /><br />
      <label> Species </label><input type="text" name="Species" /><br />
      <label> Sex </label><input type="text" name="Sex" /><br />
      <label> Birth </label><input type="text" name="Birth" /><br />
      <label> Death </label><input type="text" name="Death"/><br />
      <input type="submit" value="Save user" />
    </form>
  {{ template "Footer" }}
{{ end }}